{% extends "base.html" %}
{% block page_content %}
<br>
<h1>Contact</h1>
<hr>
<div>
    <li>
        E-mail: <a href="mailto:facuzavaleta890@gmail.com">facuzavaleta890@gmail.com</a>
    </li>
    <li>
        GitHub: <a href="https://github.com/facuzavaleta89">github.com/facuzavaleta89</a>
    </li>
    <li>
        Linkedin: <a href="https://www.linkedin.com/in/facuzavaleta89/">linkedin.com/in/facuzavaleta89/</a>
    </li>
</div>
<hr>
<a href="{% url 'home' %}">Back to home</a>
<br>
<br>
{% endblock %}